.button {
  background-color: rgb(116, 103, 182);
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: rgb(73, 65, 114);
}
